{% if value.param_name == "filter.v.option.color" %}
  {% if value.value == "Purple" %}
    <div style="margin-right: 1.2rem; width: 16px; height: 16px; background-color: {{shop.metaobjects.variant_colors.variant-colors-dexhuunv.purple}};">
    </div>
  {% endif %}
  {% if value.value == "Green" %}
    <div style="margin-right: 1.2rem; width: 16px; height: 16px; background-color: {{shop.metaobjects.variant_colors.variant-colors-dexhuunv.green}};">
    </div>
  {% endif %}
  {% if value.value == "Mint Green" %}
    <div style="margin-right: 1.2rem; width: 16px; height: 16px; background-color: {{shop.metaobjects.variant_colors.variant-colors-dexhuunv.mint_green}};">
    </div>
  {% endif %}
  {% if value.value == "Red" %}
    <div style="margin-right: 1.2rem; width: 16px; height: 16px; background-color: {{shop.metaobjects.variant_colors.variant-colors-dexhuunv.red}};">
    </div>
  {% endif %}
  {% if value.value == "Yellow" %}
    <div style="margin-right: 1.2rem; width: 16px; height: 16px; background-color: {{shop.metaobjects.variant_colors.variant-colors-dexhuunv.yellow}};">
    </div>
  {% endif %}
  {% if value.value == "Blue" %}
    <div style="margin-right: 1.2rem; width: 16px; height: 16px; background-color: {{shop.metaobjects.variant_colors.variant-colors-dexhuunv.blue}};">
    </div>
  {% endif %}
  {% if value.value == "Pink" %}
    <div style="margin-right: 1.2rem; width: 16px; height: 16px; background-color: {{shop.metaobjects.variant_colors.variant-colors-dexhuunv.pink}};">
    </div>
  {% endif %}
{% endif %}