{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script>
  console.log("{% if section.blocks != blank %} hello {% endif %}")
</script>

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width {% if section.settings.contact-layout and section.blocks != blank %}
    contact-form-horizontal page-width-contact-mobile--narrow
    {% else %} page-width--narrow {% endif %}{% if section.settings.text-align-desktop %} contact-info-center-desk {% else %} contact-info-left-desk {% endif %}{% if section.settings.text-align-mobile %} contact-info-center-mob {% else %} contact-info-left-mob {% endif %}
  section-{{ section.id }}-padding">
  
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "contact-info" %}
          <div class="contact-info {% if section.settings.contact-layout %} contact-form-horizontal__info {% endif %}" {{ block.shopify_attributes }}>
            <h2 class="title title-wrapper--no-top-margin inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {{block.settings.heading}}
            </h2>
              {{block.settings.contact-text}}
          </div>
        {% endcase %}
    {% endfor %}
        
        
    <div class="contact {% if section.settings.contact-layout %} contact-form-horizontal__form {% endif %}">
      {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
      assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
      -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class="contact__fields">
          <div class="field">
            <input
              class="field__input"
              autocomplete="name"
              type="text"
                id="ContactForm-name"
                name="contact[{{ 'templates.contact.form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="{{ 'templates.contact.form.name' | t }}">
                <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}">
          <label class="field__label" for="ContactForm-email">
            {{- 'templates.contact.form.email' | t }}
            <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
      </div>
      {% comment %}
      <div class="field">
        <input
        type="tel"
        id="ContactForm-phone"
        class="field__input"
        autocomplete="tel"
        name="contact[{{ 'templates.contact.form.phone' | t }}]"
        pattern="[0-9\-]*"
        value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        placeholder="{{ 'templates.contact.form.phone' | t }}">
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
      {% endcomment %}
      <div class="field">
        <textarea
        rows="10"
        id="ContactForm-body"
        class="text-area field__input"
        name="contact[{{ 'templates.contact.form.comment' | t }}]"
        placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">
          {{- 'templates.contact.form.comment' | t -}}
        </label>
      </div>
        <div class="contact__button">
          <button type="submit" class="button">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {%- endform -%}
    </div>

  </div>
</div>



{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "contact-layout",
      "label": "Horizontal Layout on Desktop",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Text Alignment"
    },
    {
      "type": "checkbox",
      "id": "text-align-desktop",
      "label": "Text Align Center on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "text-align-mobile",
      "label": "Text Align Center on Mobile",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Contact Info",
      "type": "contact-info",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Contact form",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type":"richtext",
          "id": "contact-text",
          "label": "Contact Text Content",
          "default": "<p>Have any questions or need assistance? We're here to help! Reach out to our dedicated support team, and we'll do our best to respond promptly. Your satisfaction is important to us, and we value the opportunity to address any concerns or problems you may have.</p><p>Contact us through the following methods:</p><p>Email: [Insert Email Address]<br>Phone: [Insert Phone Number]<br>Live Chat: [Insert Live Chat Availability]</p><p>Thank you for choosing us as your preferred destination. We appreciate your business and are committed to providing you with excellent customer support.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
